.parent{
    background-color: purple;
    width:600px;
    display:inline-flex ;
    flex-flow:row wrap ;
    
    height: 700px;
    }
    .parent div{
        padding: 50px;
        margin: 5px;
    
    }
    .item1{
    background-color: wheat;
    
    }
    .item2{
        background-color: wheat;
    }
    .item3{
        background-color:  wheat;
        
    }
    .item4{
        background-color: wheat;
    }
    /*........task2.......*/
     *{
margin: 0px;
padding: 0px;
box-sizing: border-box;
    }
    .nav{
width: 100px;

    }
.a img {
height: 50px;

}
.b{
    width: 100%;
    display: flex;
    justify-content: flex-end ;
    margin-right: 40px;

}
.c{
list-style: none;
padding: 0px 20px;

}
.d{

    list-style: none;
     padding: 0px 20px;
}
.e{
    
    list-style: none;
     padding: 0px 20px;
} 
/*......task3.html.........*/
.f{
    margin: 196px;
    border: 5px solid blue;
    height: 500px;
    width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
} 

.g{
    border: solid 1px blue;
    background-color: blue;
    width: 100px;
    height: 100px; 

}
/*.......task4........*/
.j{
width: 700px;
height: 400px;

display: inline flex;
justify-content: space-between;
}
.h{
background-color: rgba(0, 0, 255, 0.685);
width: 700px;
height: 400px;
border:  solid 5px;
}
.i{
background-color: blue;
width: 700px;
height: 400px;
border:  solid 5px;
}
.k{
background-color: rgba(0, 0, 255, 0.473);
width: 700px;
height: 400px;
border:  solid 5px;
}
/*.......task5.......*/
.zzzz{
     /* width: 50px;
    height: 50px;
     display: flex; 
     margin: 10px;
    padding: 10px;
    gap: 10px;
    flex-flow: row wrap ;
     justify-items: center;
    align-items: center;
    background-color: aqua; */
     }

/* .l{     width: 50px;
    height: 50px;
     display: flex; 
     margin: 10px;
    padding: 10px;
    gap: 10px;
    flex-flow: row wrap ;
     justify-items: center;
    align-items: center;
    background-color: aqua;

} */
.m{
  display: flex;
  flex-direction: row;
 border: 200px solid red;
 flex-wrap: wrap;
 
    
}
.x{
    width: 50px;
    height: 50px;
  margin: 10px;
  display: flex;
  flex-direction: row;
 background-color: aqua;
 gap: 10px;
 flex-wrap: wrap;  
}
.n{
 
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: aqua;
  gap: 10px;
  flex-wrap: wrap;
}
.u{
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    gap: 10px;
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
}
.l{
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    gap: 10px;
    width: 50px;
    height: 50px;
    flex-wrap: wrap;

}
/*.........task6........*/
.parent1{

border: 10px solid yellow;

height: 500px;
display: flex;
}
 .parent1 div{
padding: 10px; 


 }
 .itme5{
    background-color: rgba(0, 128, 0, 0.781); 
    align-self: flex-start;
    margin: 10px;
  

 }
 .itme6{
    background-color: rgba(0, 0, 255, 0.637);
    align-self: flex-start; 
 }
 .itme7{
background-color: purple;
align-self: flex-start;
 }
 .itme8{
    background-color: rgb(0, 38, 255);
 }
 .itme9{
    background-color: yellowgreen;
    align-self: center;
 }
 .itme10{
    background-color: orangered;
    align-self: flex-start;
 }
 .itme11{
    background-color: red;
    align-self: flex-start;
 }
 .itme12{
    background-color: grey;
    align-self: flex-start;
 }
 .itme13{
    background-color: rgba(0, 128, 0, 0.568);
    align-self: flex-start;
 }
 .itme14{
    background-color: navy;
    align-self: flex-end ;
 }
/*........task7.......*/
.parent3{
    border: 10px solid yellow;
    height: 400px;
display: flex;
flex-direction: column;
/* align-items: center; */

}
.parent3 div{
    padding: 10px;
 
}

.itme15{
   background-color: rgba(0, 128, 0, 0.781); 
padding: 10px;

 

}
.itme16{
   background-color: rgba(0, 0, 255, 0.637);

}
.itme17{
background-color: purple;

}
.itme18{
   background-color: rgb(0, 38, 255);
}
.itme19{
   background-color: yellowgreen;
   
}
.itme20{
   background-color: orangered;
   
}
.itme21{
   background-color: red;
  
}
.itme22{
   background-color: grey;
   
}
.itme23{
   background-color: rgba(0, 128, 0, 0.568);

}
.itme24{
   background-color: navy;

}
/*........task8........*/
.main{
display: flex;
flex-flow:row wrap;
justify-content: center;
}

.itme29{
    background-color: aqua;
 
width: 800px;}

.itme30{
background-color: brown;
width: 500px;
}
/*..........task9.......*/
.parent4{
flex-wrap: wrap;
 padding: 5px;
 display: flex;
 border: 10px solid yellow;
 width: 500px;
 gap: 5px;
flex-direction: row;
}
 .parent4 div{
    width: 100px;
 
 }

 /* padding: 10px;
margin: 10px;}  */


.itme36{
   background-color: rgba(0, 128, 0, 0.781); 
padding: 10px;
width: 60px;
 

}
.itme35{
   background-color: rgba(0, 0, 255, 0.637);
   padding: 10px;
}
.itme25{
background-color: purple;
padding: 10px;
}
.itme26{
   background-color: rgb(0, 38, 255);
   padding: 10px;
}
.itme27{
   background-color: yellowgreen;
   padding: 10px;
}
.itme28{
   background-color: orangered;
   padding: 10px;
}
.itme31{
   background-color: red;
   padding: 10px;
}
.itme32{
   background-color: grey;
   padding: 10px;
}
.itme33{
   background-color: rgba(0, 128, 0, 0.568);
   padding: 10px;
}
.itme34{
   background-color: navy ;
   padding: 10px;}
   /*........task10....*/
   *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
        }
        .nav{
    width: 100px;
    
        }
    .eng{
        width: 100%;
    display: flex;
    justify-content: flex-end ;
    margin-right: 40px;

    }
    .Advertising{
        list-style: none;
        padding: 0px 20px;
           
    }
    .Bsiness{
        list-style: none;
        padding: 0px 20px;
    }
    .Privacy{
        list-style: none;
        padding: 0px 20px;  
    }
   .Terms{
    list-style: none;
    padding: 0px 20px;  

   }